__pycache__/
.DS_Store
.pycache/
.pytest_cache/
.ruff_cache/
.venv/
*.backup
*.dylib
*.egg-info/
*.log
*.pdb
*.pyd
*.so
**/*.rs.bk
**/mutants.out*/
.gradle/
bin/
build/
strands-kt/lib/src/main/kotlin/uniffi/
dist/
node_modules/
target/
